<h2 class="text-3xl font-bold text-center ">Por pais</h2>
<hr class="" />
<div class="grid grid-cols-12">
  <div class="col-span-12">
    <form action="" autocomplete="off" class="mt-5 mx-auto" (ngSubmit)="buscar()" >
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-2/3 p-2.5"
        placeholder="Por pais..."
        [(ngModel)]="termino"
        name="termino"
      />
    </form>
  </div>
</div>


  <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative md:w-2/3 mt-2" role="alert">
    No se Encontro este pais
  </div>



<div class="overflow-x-auto relative items-center " *ngIf="!error" >

</div>

