
  <h2 class="text-3xl font-bold text-center   ">Busquedas</h2>
  <hr class="" />
  <ul
    class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg
    border border-gray-200 dark:bg-gray-700 dark:border-gray-600
    dark:text-white text-center space-y-3 mt-5"
  >
    <li  routerLink=""  routerLinkActive="li1"  class="li" [routerLinkActiveOptions]="{exact:true}" >Buscar pais</li>
    <li routerLink="region"  routerLinkActive="li1" class="li" >Buscar por region</li>
    <li  routerLink="capital"  routerLinkActive="li1" class="li">Por capital</li>
  </ul>

