
 <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" *ngFor="let pais of paises">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
             #
          </th>
          <th scope="col" class="py-3 px-6 text-left">
              Bandera
          </th>
          <th scope="col" class="py-3 px-6">
              Nombre
          </th>
          <th scope="col" class="py-3 px-6">
              Poblacion
          </th>

      </tr>
  </thead>
  <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center items-center">
              1
          </th>
          <td class="py-4 px-2 mx-0">
            <img  class="w-16" src="{{pais.flags.png}}" />
          </td>
          <td class="py-4 px-2">
            {{pais.name.common}}
          </td>
          <td class="py-4 px-2">
            {{pais.population}}
        </td>
          <td class="py-4 px-2">
              <a  [routerLink]="[ '/pais', pais.name]"> ver ....</a>
          </td>
      </tr>

  </tbody>
</table>

